.button {
  padding: 10px;
  background-color: #323335;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #565e66;
}