.carta {
  border: 2px solid;
  width: 200px;
  text-align: center;
  padding: 2px;
  margin: 2px;
  font-family: Arial, sans-serif;
  border: 3px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  transition: all 0.5s;
}
.carta:hover {
  transform: scale(1.05);
}
.carta:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.cartaImg {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cartaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.nombre {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px; /* Espaciado entre el título y las estadísticas */
}

/* Estilo para cada columna de estadísticas */
.column {
  width: 48%; /* Ajustamos el ancho para que ambas columnas se ubiquen bien una al lado de la otra */
}

.column p {
  margin: 10px; /* Espaciado entre los párrafos */
}

.iconL{
  width: 20px;
  height: 20px;
  margin-right: 4px; /* Espaciado entre el icono y el texto */
  vertical-align: middle; /* Alinea el icono con el texto */
}

.iconR{
  width: 20px;
  height: 20px;
  margin-left: 4px; /* Espaciado entre el icono y el texto */
  vertical-align: middle; /* Alinea el icono con el texto */
}

/* Estilos para diferentes calidades */
.común {
  background-color: #ffffff; /* Fondo blanco */
  border-color: #000000;     /* Borde negro */
}

.especial {
  background-color: #abffa8; /* Fondo verde claro */
  border-color: #4caf50;    /* Borde verde */
}

.rara {
  background-color: #b6e7ff; /* Fondo azul claro */
  border-color: #3498db;     /* Borde azul */
}

.épica {
  background: #dda0f5; /* Fondo morado claro */
  border-color: #9b59b6;     /* Borde morado */
}

.legendaria {
  background: linear-gradient(45deg, rgb(247, 35, 35), rgb(255, 220, 25));
  border-color: #e61d1d;     /* Borde rojo oscuro */
}

.icónica {
  background: linear-gradient(25deg, #ffd700, #fff5c7); 
  border-color: #ffbb0e;     /* Borde dorado */
}

.flashback {
  background: linear-gradient(45deg, #09ecf8, hsl(335, 100%, 55%)); /* Azul neón a rosa */
  border-color:  hsl(180, 98%, 52%); /* Borde rojo oscuro */
}


.winner {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 5px rgba(251, 255, 0, 0.747);
  margin: 20px
}
