.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #0066cc; /* Fondo azul principal */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif; /* Tipografía moderna */
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h1 {
  font-size: 2.5rem; /* Tamaño del texto del logo */
  font-weight: bold;
  margin: 0;
  display: flex;
  gap: 0.5rem; /* Espaciado entre PIO y CARDS */
}

.logoPrimary {
  color: #ffd700; /* Amarillo vibrante */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
}

.logoSecondary {
  color: #ffffff; /* Blanco limpio */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Sombra similar */
}

.money {
  font-size: 1.5rem; /* Tamaño del texto para el dinero */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.money .username {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.money .logoSecondary {
  font-weight: bold;
  color: #ffd700; /* Amarillo para destacar */
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.logoutIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}
