.historial {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: var(--background); /* Fondo degradado */
}

.partidasContainer {
  display: flex;
  background: var(--background); /* Fondo degradado */
  flex-direction: column; /* Acomoda las partidas en forma de tabla vertical */
}
