.inputContainer {
  display: flex;
  flex-direction: column; /* Columna para expandirse verticalmente */
  flex: 1;
  margin-bottom: 15px;
  align-items: center;
  overflow: visible; /* El contenedor también permite el crecimiento sin restricciones */
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}
  
.input {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}



.input:focus {
  border-color: #1e3c72;
  outline: none;
  box-shadow: 0 0 8px rgba(30, 60, 114, 0.2);
}