/* Sobres genéricos */
.sobre {
  border: 6px solid transparent;
  border-radius: 12px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  height: 280px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: transform 0.2s;
}
/* Efecto de hover para sobres */
.sobre:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.paniniLogo {
width: 140px;
height: 50px;
margin-top: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold; /* Hace que el texto esté en negrita */
  font-size: 1.8rem; /* Tamaño de la fuente */
  margin-bottom: 10px;
}

/* Estilo específico para "Pio" (azul) */
.pio {
  color: #00538a; /* Azul brillante */
  margin-right: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  font-size: 2rem; /* Tamaño mayor para destacarlo */
}

/* Estilo específico para "Cards" (amarillo) */
.cards {
  color: #ffcc00; /* Amarillo dorado */
  margin-left: 5px;
  text-shadow: 2px 2px 5px rgba(4, 0, 43, 0.3); /* Sombra sutil */
  font-size: 2rem; /* Tamaño mayor para destacarlo */
}

/* Estilo para el título del sobre */
.h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.p {
  font-size: 1.2rem;
  margin-top: 8px;
  font-weight: normal;
  color: #333;
}

/* Estilo para .comun */
.comun {
  background: linear-gradient(45deg, #f6f7f6, #c2c2c2); /* Blanco degradado a gris claro */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-común) 1;
}

/* Estilo para .especial */
.especial {
  background: linear-gradient(45deg, #abffa8, #4caf50); /* Verde claro a verde intenso */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-especial) 1;
}

/* Estilo para .rara */
.rara {
  background: linear-gradient(45deg, #b6e7ff, #3498db); /* Azul claro a azul intenso */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-rara) 1;
}

/* Estilo para .épica */
.epica {
  background: linear-gradient(45deg, #dda0f5, #bf1dff, rgb(160, 7, 122)); /* Morado claro a morado intenso */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-épica) 1;
}

/* Estilo para .legendaria */
.legendaria {
  background: linear-gradient(45deg, rgb(247, 35, 35), rgb(255, 220, 25)); /* Rojo a dorado */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-legendaria) 1;
}

/* Estilo para .icónica */
.iconica {
  background: linear-gradient(25deg, #ffd700, #fff5c7); /* Fondo degradado dorado */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-icónica) 1;
}

/* Estilo para .flashback */
.flashback {
  background: linear-gradient(45deg, #09ecf8, hsl(335, 100%, 55%)); /* Azul neón a rosa */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-flashback) 1;
}

/* Estilo para .future */
.future {
  background: linear-gradient(180deg, #014104,  #01a30f); /* Verde oscuro a amarillo dorado */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-future) 1;
}


.gold {
  background: linear-gradient(45deg, #ffd61f, hsl(39, 100%, 50%)); /* Fondo azul neón a rosa */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-gold) 1;
}

.aleatorio {
  background: linear-gradient(245deg, #ff0000, #ffa861,#fff4c5); /* Fondo azul neón a rosa */
  background-color: #ffffff; /* Fondo verde claro */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-aleatorio) 1;
}


.default {
  background-color: #ffffff;
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-común) 1;
}
