.sobre {
  padding: 0;
  border: 6px solid transparent; /* Establecemos un borde de 6px transparente */
  border-radius: 12px;
  margin: 20px;
  width: 220px;
  height: 300px;
  background-color: #ffffff; /* Fondo blanco predeterminado */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: transform 0.2s;
}

/* Efecto de hover */
.sobre:hover {
  transform: scale(1.05);
}

/* Estilo para .comun */
.comun {
  background-color: #d7d7d7; /* Fondo blanco */
  border: 6px solid transparent; /* Borde transparente para aplicar la imagen de borde */
  border-radius: 12px;
  border-image: var(--color-común) 1; /* Usamos la variable de gradiente definida en globals.css */
}

/* Otros estilos de clases como .especial, .rara, etc. */
.especial {
  background: linear-gradient(45deg, #32cd32,#90ee90 ,rgb(229, 232, 228)z);
  background-color: #abffa8; /* Fondo verde claro */
  border: 6px solid transparent; /* Borde transparente para aplicar gradiente */
  border-radius: 12px;
  border-image: var(--color-especial) 1;
}

.rara {
  background: linear-gradient(45deg, #1e90ff,#75d2f0 ,rgb(232, 228, 228));
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-rara) 1;
}

.epica {
  /* background-color: #dda0f5; Fondo morado claro */
  background: linear-gradient(45deg, #dda0f5,#8a00c1 ,rgb(53, 53, 53));
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-épica) 1;
}

.legendaria {
  background: linear-gradient(45deg, #fff5c7,#ffbf00 ,rgb(255, 166, 24));
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-legendaria) 1;
}

.iconica {
  background: linear-gradient(25deg, #ffd700, #fff5c7); /* Fondo degradado dorado */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-icónica) 1;
}

.flashback {
  background: linear-gradient(45deg, #09ecf8, hsl(335, 100%, 55%)); /* Fondo azul neón a rosa */
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-flashback) 1;
}

.default {
  background-color: #ffffff;
  border: 6px solid transparent;
  border-radius: 12px;
  border-image: var(--color-común) 1;
}

.sobre.gold {
  display: none;
  background: linear-gradient(45deg, rgb(247, 35, 35), rgb(255, 220, 25)); /* Fondo degradado */
  border: 6px solid transparent; /* Borde transparente para el gradiente */
  border-radius: 12px;
  padding: 16px;
  margin: 20px;
  width: 220px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: transform 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07; 
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

/* Efecto de hover y foco */
.sobre.gold:hover,
.sobre.gold:focus {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.sobre.gold:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}



.paniniLogo {
width: 80%;
height: 50%;
}
