.header{
    background-color: aqua;
    font-weight: 500;
    border: 10px;
    text-align: center;
    display: block;
}

/* page.module.css */

.container {
    padding: 0px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .sobresContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
  }
  

  
  .header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .userMoney {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: right;
    margin-bottom: 16px;
  }
  
  .sobresContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
  }
  
  .navigation button {
    margin: 4px;
  }
  